.container {
    align-items: center !important;
    overflow: hidden;
}

/*header css*/
.header {
    border: 1px solid #11a002;
    display: flex;
    justify-content: center;
    text-decoration: solid;
    padding: 10px 3px 10px 3px;
}
.header > span {
    font-weight: bold;
    font-family: 'prstart';
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
      color: #FFF;
      text-shadow: 0 0 10px #11a002, 0 0 50px #11a002, 0 0 100px #11a002;
}   
10%, 90% {
      color: #111;
      text-shadow: none;
}
} 
.header> span:nth-child(2) {
    animation-delay: 0.25s;
}  
.header > span:nth-child(3) {
    animation-delay: 0.5s;
} 
.header> span:nth-child(4) {
    animation-delay: 0.75s;
} 
.header> span:nth-child(5) {
    animation-delay: 1s;
} 
.header > span:nth-child(6) {
    animation-delay: 1.25s;
} 
.header > span:nth-child(7) {
    animation-delay: 1.5s;
}
/*end*/

/*announce*/
.announcement_column {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 88%;
    overflow-y: auto;
    border: 1px solid #008000;
    margin: 5px;
}

.announcement_column div{
    border-bottom: 1px solid #008000;
}

.announcement_post {
    padding: 3px;
}
/*end*/