/*adding fonts*/
@font-face {
    font-family: 'prstart'; 
    src: url('../fonts/prstart.ttf') format('truetype');
}

@font-face {
    font-family: 'steelfish.rg-regular'; 
    src: url('../fonts/steelfish.rg-regular.otf') format('opentype');
}

@font-face {
    font-family: 'generesis'; 
    src: url('../fonts/generesis.otf') format('opentype');
}

@font-face {
    font-family: 'cooper'; 
    src: url('../fonts/cooper-hewitt.otf') format('opentype');
}

@font-face {
    font-family: 'mono';
    src: url('../fonts/CascadiaMono-BoldItalic.otf') format('opentype');
}
/*end*/
body {
    font-family: 'cooper';
    background-color: #000000;
    display: flex;
    align-content: center;
    color: #1aff00;
}

.container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    align-items: center;
    padding: 2px;
}

a {
    color: #1aff00;
    text-decoration: none;
}

/* Basic button styles */
button {
    font-family: 'steelfish.rg-regular';
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    color: #f50066;
    background-color: #1aff00; /* Green color */
    border: 2px solid #11a002; /* Green border */
    border-radius: 2px; /* Sharp corners */
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  /* Highlight effect */
button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: #0c530588; /* White with opacity */
    border-radius: 50%;
    opacity: 0;
    transition: width 0.6s ease-out, height 0.6s ease-out, opacity 0.6s ease-out;
    transform: translate(-50%, -50%);
}
  
button:hover::before {
    width: 0;
    height: 0;
    opacity: 1;
}

@media only screen and (max-width: 600px) {

    .logo {
        display: none;
    }
    h1 {
        font-size: 23px;
    }
    #gif-container {
        display: none;
    }
    .header {
        flex-direction: column !important;
    }
    .title {
        border: none !important;
        width: fit-content !important;
    }
    .title_name {
        word-wrap: break-word !important;
        overflow-wrap: break-word !important; 
    }
    .discord img {
        width: 120px !important;
    }

}
